*{
    font-family: fantasy;
}
main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    height: 750px;
}
#glowny{
    width: 96%;
    height: 120px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: beige;
}
#header1, #header2{
    width: 44%;
    border:6px solid green;
    height: 50px;
    float: left;
margin-top: 10px;
margin-left: 3%;
}
#header1{
    background-color: rgb(90, 80, 220);
}
#lewy, #prawy{
    width: 50%;
    height: 400px;
    font-weight: bolder;
    color: blue;
    float: left;
}
#lewy{
    background-color: rgb(220, 90, 80);
}
#prawy{
    background-color: darkkhaki;
}
.prawe{
    margin: 2%;
    width: 96%;
    height: 160px;
    font-size: 120%;
    opacity: 0.6;
}
#prawy1{
    color: crimson;
    background-color: rgb(0, 100, 0);
}
#prawy2{
    color: darkgrey;
    background-color: rgb(100, 100, 0);
}
.stopka{
    width: 46%;
    height: 100px;
    opacity: 0.9;
    padding: 2%;
    float: left;
}
#stopka1{
    background-color: rgb(60, 120, 160);
    color: white;
}
#stopka2{
    background-color: rgb(160, 120, 80);
    color: white;
}